@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  --color-bg-primary: #3C82F6;
  --color-bg-secondary: #11331b;
  --color-bg-tatary: #331d11;
}