@tailwind base;
@tailwind components;
@tailwind utilities;

.step-item{
  @apply relative flex flex-col justify-center items-center w-full lg:w-1/4
}
.step-item:not(:first-child):before{
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-1
}
.step{
  @apply w-7 h-7 md:w-8 md:h-8 flex z-10 relative bg-secondary font-semibold rounded-full items-center justify-center text-white
}
.active .step{
  @apply bg-white border text-primary border-orange-500
}
.active:not(:first-child):before{
  @apply  bg-secondary
}
ul{
  @apply list-disc
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  --color-bg-primary: #111827;
  --color-bg-secondary: #E87436;
  --color-bg-tatary: #331d11;

  --color-text-primary:#E87436;
  --color-text-secondary:#111827;
  --color-text-tatary:#4B5563;
}